AWS_REGION=ap-northeast-2
S3_BUCKET=nlp-s3-analytics-이니셜-계정ID
DATA_PREFIX=datasets/ecommerce_sales/
ATHENA_OUTPUT_PREFIX=athena-results/
ATHENA_DATABASE=nlp_s3_analytics_db
ATHENA_TABLE=ecommerce_sales
BEDROCK_MODEL_ID=amazon.nova-lite-v1:0
